:host {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;

  padding: min(2vw, 2vh);
  gap: 15px;
  background-color: LightGray;

  :first-child {
    color: black;
    font-size: x-large;
    text-shadow: 5px 5px antiquewhite;
  }

  :last-child {
    flex-grow: 1;
    text-align: right;
  }
}

a {
  color: black;
  font-size: large;
  :hover {
    text-decoration: underline;
  }
}
