.root__container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #372865, #000000);
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  background-color: dimgray;

  :last-child {
    flex-grow: 1;
    text-align: right;
  }

  a:hover {
    text-decoration: underline;
  }

  p,
  a {
    color: black;
  }
}
