.root__container {
  width: 100%;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;

  padding: min(2vw, 2vh);
  gap: 15px;
  background-color: LightGray;

  :last-child {
    flex-grow: 1;
    text-align: right;
  }

  p {
    color: black;
    font-size: x-large;
    text-shadow: 5px 5px antiquewhite;
  }

  a {
    color: black;
    font-size: large;
    :hover {
      text-decoration: underline;
    }
  }
}
